body {
    background: url("https://static.thebark.com/sites/default/files/styles/feature/public/content/article/full/diy-dog-canvas-art-styled-wallpaper.jpg?itok=Yq_VHl7P");
}

.SignUp {
    background: rgba(44, 46, 49, 0.7);

    color: var(--clr-white);
}


.links {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: max-content;
    padding: 1rem;
    gap: 10px;
    width: 100%;
    font-size: 20px;
}

.links a {
    color: var(--clr-grey-7);
    background: var(--clr-primary-3);
    border-radius: 100%;
    text-align: center;
    width: 50px;
    padding: 0.6rem;
}

a:hover {
    background: transparent;
    color: var(--clr-white);
}