body {
    background: url("https://static.thebark.com/sites/default/files/styles/feature/public/content/article/full/diy-dog-canvas-art-styled-wallpaper.jpg?itok=Yq_VHl7P");
}

.loginPage {
    background: rgba(44, 46, 49, 0.7);
    color: var(--clr-white);
}

label {
    display: block;
    color: var(--clr-grey-1);
}

input {
    margin: 0.2rem;
    padding: 0.4rem 0.1rem;
    width: 25vw;
    border-radius: 5px;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: max-content;
    padding: 1rem;
    gap: 10px;
    width: 100%;
    font-size: 20px;
}

.links a {
    color: var(--clr-grey-7);
    background: var(--clr-primary-3);
    border-radius: 100%;
    text-align: center;
    width: 50px;
    padding: 0.6rem;
}

p {
    text-align: center;
    margin: 1rem;
}

span {
    text-decoration: underline;
    cursor: pointer;
    color: var(--clr-green-light);
}

a:hover {
    background: transparent;
    color: var(--clr-white);
}

.loader {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: block;
    margin:3px auto;
    position: relative;
    background: #FFF;
    box-shadow: -24px 0 #FFF, 24px 0 #FFF;
    box-sizing: border-box;
    animation: shadowPulse 1s linear infinite;
  }
  
  @keyframes shadowPulse {
    33% {
      background: #FFF;
      box-shadow: -24px 0 #78debf, 24px 0 #FFF;
    }
    66% {
      background: #78debf;
      box-shadow: -24px 0 #FFF, 24px 0 #FFF;
    }
    100% {
      background: #FFF;
      box-shadow: -24px 0 #FFF, 24px 0 #78debf;
    }
  }